#footer_part p {
     padding: 20px;
}
        
#footer_part ul{
     float: left;
     margin-right: 5px;
}
  
#footer_part li {
  		list-style-type: none;
  		overflow: auto;
}

#footer_part a {
	text-decoration-line: none;
	color: black;
}


#footer_part #fo3{
		clear: both;
}	
#footer_part #fo4{		
            clear: both;
            background-color: grey;
            color: white;
}
